apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cost-onprem.fullname" . }}-aws-config
  labels:
    {{- include "cost-onprem.labels" . | nindent 4 }}
data:
  config: |
    [default]
    region = {{ .Values.odf.s3.region | default "onprem" }}
    s3 =
      signature_version = s3v4
      addressing_style = path
